<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Hello</title>

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

                
                <link href="/css/preview-frame.css" rel="stylesheet">
                <link href="lib/ionic/css/ionic.css" rel="stylesheet">
                <link href="css/custom.css" rel="stylesheet">
                <script src="js/ourbitcoin.js"></script>
                        
                <!-- ionic/angularjs js -->
                <script src="lib/ionic/js/ionic.bundle.js"></script>

                <script src="js/jquery.min.js"></script>
                <script src="js/bitcoinjs.min.js"></script>
                <script src="js/qrcode.min.js"></script>
                <script src="js/html5-qrcode.js"></script>
                <script src="js/highcharts.js"></script>
                <script src="js/exporting.js"></script>

                <script src="js/ng-cordova.min.js"></script>
                <script src="cordova.js"></script>
                
                <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
                 <link href="css/ionic.app.css" rel="stylesheet">
                 -->
                <script src="js/app.js"></script>
    </head>
    <body ng-app="app" animation="slide-left-right-ios7">
        <div>
            <div>
                <ion-nav-bar class="bar-stable">
                    <ion-nav-back-button class="button-icon icon ion-ios7-arrow-back">Back</ion-nav-back-button>
                </ion-nav-bar>
                <ion-nav-view></ion-nav-view>
            </div>
        </div>
        <script id="page3.html" type="text/ng-template">
            <ion-view title="Wallet">
            <ion-content ng-controller="walletCtrl" padding="true" class="has-header">
            <a href="#/send" class="button button-stable button-block">Send</a>
            <button class="button button-stable button-block red">Receive</button>
            <div class="total">Account Balance: <span>475 mBTC</span></div>
            <ion-list>
            <ion-item>Transaction 1: 5.00 mBTC (10 confirmations)</ion-item>
            <ion-item>Transaction 2: 70.00 mBTC</ion-item>
            <ion-item>Transaction 3: 400.00 mBTC (unconfirmed)</ion-item>
            </ion-list>
            <div id="graph">
            </div>
            </ion-content>
            </ion-view></script>
        <script id="page5.html" type="text/ng-template">
            <ion-view title="Welcome">
            <ion-content ng-controller="welcomeCtrl" padding="true" scroll="false">
            <h3 class="heading">Welcome to <span>FreezeRay</span></h3>
            <div>
            <p>This device is:</p>
            </div>
            <a href="#/wallet" class="button button-stable button-block">Online</a>
            <a href="#/create" class="button button-stable button-block red">Offline</a>
            </ion-content>
            </ion-view></script>
        <script id="page6.html" type="text/ng-template">
            <ion-view title="Make a Wallet">
            <ion-content padding="true" scroll="false">
            <form>
            <div class="circleicon ion ion-locked"></div>
            <h4 class=" text-center">Make an encryption password:</h4>
            <label class="item item-input single" name="Password">
            <input type="password" >
            </label>
            <div class="spacer" style="width: 300px; height: 41px;"></div>
            <a href="#/offlinescan" class="button button-stable button-block">Save</a>
            </form>
            </ion-content>
            </ion-view></script>
        <script id="page7.html" type="text/ng-template">
            <ion-view title="Reminders">
            <ion-content padding="true" scroll="false">
            <div>
            <p>From now on, your offline device must never be connected to any network.</p>
            </div>
            <div>
            <p>
            <strong>Wi-Fi and Bluetooth networks are not guaranteed to be secure.</strong>
            </p>
            <div>
            <p>FreezeRay is not responsible for any losses that may be incurred.</p>
            </div>
            </div>
            <form>
            <ion-checkbox>Confirm</ion-checkbox>
            </form>
            <a href="#/offlinescan" class="button button-stable button-block">I Understand</a>
            </ion-content>
            </ion-view></script>
        <script id="page8.html" type="text/ng-template">
            <ion-view title="Send">

            <ion-content ng-controller="ScanAddressToPayController" padding="true">
            <form>
            <div class="circleicon ion ion-paper-airplane"></div>
            <label class="item item-input single" name="Amount">

            <span class="input-label">Amount (mBTC)</span>
            <input ng-model="transaction.amount" type="text" pattern="[0-9]*" >
            </label>
            <p></p>
            <div>
            <p>Scan Address to Pay</p>
            </div>
            
            <button class="button button-stable button-block" ng-click="scanBarcode(transaction)">Begin Scan</button>

            <label class="item item-input single" name="toAddress">
            <span class="input-label">Address</span>
            <input ng-model="transaction.toAddress" type="text">
            </label>

            <div class="spacer" style="width: 300px; height: 20px;"></div>
            <p></p>
            <div>
            <p>Or enter bitcoin address</p>
            </div>

            </form>

            </ion-content>
                
            </ion-view>
        </script>
        <script id="confirmSell.html" type="text/ng-template">
            <ion-view title="Send">
            <ion-content ng-controller="QRConfirm" padding="true" scroll="false">
            <h4 class="statement">So you are paying <span class="bold" ng-bind="amount"></span> to <span class="bold" ng-bind="friendKey"></span>?</h4>
            <button class="button button-stable button-block" ng-click="confirm()">Confirm</button>
            </ion-content>
            </ion-view>
        </script>
        <script id="QRShow.html" type="text/ng-template">
            <ion-view title="QR Code">
            <ion-content ng-controller="QRShow" padding="true" scroll="false">
            <h3 class="text-center" ng-bind="message"></h3>
            <div id="qrcode"></div>
            <button class="button button-stable button-block" ng-click="next()">Done</button>
            </ion-content>
            </ion-view>
        </script>
        <script id="page9.html" type="text/ng-template">
            <ion-view title="Unsigned Transaction">
            <ion-content ng-controller="QRScannerController" padding="true" class="has-header">
            <h5>Scan this with your Offline device to sign:</h5>
            <button class="button button-stable button-block" ng-click="scanBarcode()">Scan QR Code</button>
            <button class="button button-stable button-block">Continue</button>
            </ion-content>
            </ion-view></script>
        <script id="page10.html" type="text/ng-template">
            <ion-view title="Scan Signed Tx">
            <ion-content ng-controller="ScanSignedTXController" padding="true" class="has-header">
                <div>
                    <p>Scan the signed transaction QR code from your offline device with camera above, or paste it below</p>
                </div>
                <form>
                    <label class="item item-input" name="signedTXHash">
                    <input ng-model="signed.txhash" type="text" placeholder="Or paste it here (optional)" value="">
                    </label>    
                </form>
                <button class="button button-stable button-block" ng-click="scanBarcode(signed)">Send Bitcoins!</button>

                <div>
                    <p>(Next Page: Sending Transaction to Bitcoin Network&nbsp;…&nbsp;Successfully Sent!)</p>
                </div>
            </ion-content>
            </ion-view></script>
        <script id="page11.html" type="text/ng-template">
            <ion-view title="Offline: Scan Tx">
            <ion-content padding="true" scroll="false">

            <ion-content ng-controller="ScanUnsignedTXController" padding="true" class="has-header">

            <form>
            <div>
            <p>Paste transaction number below, or scan using camera.</p>
            <label class="item item-input" name="unsignedtxhash">
            <input ng-model="unsigned.txhash" type="text" placeholder="Paste Unsigned TX Hash (optional)" value="">
            </label>
            </div>
            <div>
            <p>… Transaction details: Destination address: xXxXxXxX Amount: 100.00 mBTC</p>
            </div>
            <button class="button button-stable button-block" ng-click="scanBarcode(unsigned)">scan</button>
            </form>
            </ion-content>
            </ion-view></script>

        <script id="page12.html" type="text/ng-template">
            <ion-view title="Generate Transaction">

            <ion-content ng-controller="BuildUnsignedTXController" padding="true" scroll="false">
            <form>
            <label class="item item-input" name="fromAddress">
            <span class="input-label">From Address</span>
            <input ng-model="transaction.fromAddress" type="text" placeholder="fromAddress" value="">
            </label>            

            <label class="item item-input" name="toAddress">
            <span class="input-label">To Address</span>
            <input ng-model="transaction.toAddress" type="text" placeholder="toAddress">
             </label>

            <label class="item item-input" name="amount">
            <span class="input-label">Amount (mBTC)</span>
            <input ng-model="transaction.amount" type="text" placeholder="Amount (mBTC)">
            </label>
            </form>

            <button class="button button-stable button-block" ng-click="buildUnsignedTX(transaction)">Build TX</button>


            </ion-content>
            </ion-view></script>




    </body>
</html>
